@(posts: Seq[String])(implicit request: RequestHeader)

@base("-> Posts", request) {
    @defining(play.core.PlayVersion.current) { version =>

        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="text-center">Latest posts</h1>
                </div>
            </div>
            @*
            TODO: made this post reversed for paired numbers
            *@
            @for(post <- posts) {
                <hr class="featurette-divider">

                <div class="row featurette align-items-center">
                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                    </div>
                    <div class="col-md-7">
                        <h2 class="featurette-heading">@post <span class="text-muted">subtitle</span></h2>
                        <p class="lead">
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
                        </p>
                        <a href="@routes.BlogController.renderPost(post)">Read more</a>
                    </div>
                </div>
            }
        </div>

        <hr class="featurette-divider">
    }
}
